@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --font:'Montserrat', sans-serif;
    --primarycolor:#6B67F5;
    --darkgrey:#2E2E2E;
    --lightgrey:#808080;
    font-family: var(--font);
}

.bolded{
    font-weight: 700;
}

.purpled{
    color: var(--primarycolor);
}