@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --font:'Montserrat', sans-serif;
    --primarycolor:#6B67F5;
    --secondarycolor: #17D7B5;
    --darkgrey:#2E2E2E;
    --lightgrey:#808080;
    --lightgrey2: #EBEBEB;
    --lightgrey3: #E6E6E6;

    font-family: var(--font);
    font-size: 16px;
}

.bolded{
    font-weight: 700;
}

.purpled{
    color: var(--primarycolor);
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.section_title1{
    font-weight: 650;
    font-size: 2.7rem;
}

.section_paragraph1{
    line-height: 2rem;
    color: var(--lightgrey3);
    font-size: 0.85rem;
}
