.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    flex-wrap: wrap;
}

.header_logo{
    font-size: 1.5rem;
    color: var(--darkgrey);
}

.nav_items{
    display: flex;
    align-items: center;
}

.nav_items li a{
    text-decoration: none;
    color: var(--darkgrey);
    font-size: 15px;
}

.nav_items li{
    margin-right: 2rem;
}
