.cont_hero{
    display: flex;
    height: calc(100vh - 4rem);
    align-items: center;
    justify-content: space-between;
}

.hero_textcontent{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero_textcontent h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 4rem;
    color: var(--darkgrey);
}

.hero_textcontent p{
    margin-bottom: 2rem;
    line-height: 2rem;
    color: var(--lightgrey);
}

.hero_img{
    background-color: #EBEBEB;
    width: 35%;
    height: 75%;
    border-radius: 8px;
    position: relative;
}

.btn-hero{
    margin-right: 1.5rem;
    box-shadow: 0px 25px 50px rgba(32, 32, 32, 0.45);
}

.square-tp1{
    width: 50px;
    height: 45px;
    background-color: var(--primarycolor);
    clip-path:polygon(0 0, 0% 100%, 100% 100%);
}

.square-hero1{
    top: 80px;
    left: 93%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;

}

.square-hero2{
    top: 50%;
    left: -5%;
    position: absolute;

}

.square-hero3{
    top: 70%;
    left: 85%;
    width: 85px;
    height: 70px;
    position: absolute;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

